<div class="text-center">
    <h1 class="display-1 fw-bold">404</h1>
    <p class="fs-3"> <span class="text-danger"><%=I18n.t('page_not_found.span_opps')%></span><%=I18n.t('page_not_found.p_not_found')%></p>
    <p class="lead">
       <%=I18n.t('page_not_found.p_not_exist')%>
        </p>
    <a href="/" class="btn btn-primary"><%=I18n.t('global.link_home')%></a>
</div>
