<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/favicon.ico" rel="icon">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/styles.css" rel="stylesheet">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <title>Rules</title>
</head>
<body>
<section id="introduction">
      <div class="container">
        <div class="row fill-viewport align-items-center justify-content-center">
          <p class="lead text-white-70"><%=@rules %></p>
          <a style='float: left' class="btn btn-primary btn-lg" href="/" role="button">
            Home
          </a>
        </div>
       </div>
    </section>
</body>
</html>